@define-color bar-bg rgba(14,40,64,0.01);
@define-color main-bg rgba(14,40,64,0.8);
@define-color main-fg rgba(170,206,240,0.8);
@define-color wb-act-bg rgba(112,165,213,0.4);
@define-color wb-act-fg rgba(204,231,255,1);
@define-color wb-hvr-bg rgba(75,102,125,0.4);
@define-color wb-hvr-fg rgba(170,208,240,0.8);
